@import url('./modal.css');
@import url('./font.css');
:root {
	font-family: 'Nunito', sans-serif;
	font-size: large;
}
body[data-theme=light] {
	--background: rgb(240, 248, 255);
	--color: rgb(0, 7, 10);
	--accent: rgb(0, 59, 70);
	--white: var(--background);
}
body[data-theme=dark] {
	--background: rgb(10, 19, 28);
	--color: rgb(195, 203, 207);
	--accent: rgb(0, 77, 90);
	--white: rgb(21, 21, 21);
}
body[data-theme=black] {
	--background: rgb(0, 0, 0);
	--color: rgb(199, 199, 199);
	--accent: rgb(0, 108, 128);
	--white: rgb(0, 0, 0);
}
@media (prefers-color-scheme: light) {
  body[data-theme=system] {
		--background: rgb(240, 248, 255);
		--color: rgb(0, 7, 10);
		--accent: rgb(0, 59, 70);
		--white: var(--background);
	}
}
@media (prefers-color-scheme: dark) {
  body[data-theme=system] {
		--background: rgb(10, 19, 28);
		--color: rgb(195, 203, 207);
		--accent: rgb(0, 77, 90);
		--white: rgb(21, 21, 21);
	}
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--background);
	color: var(--color);
	height: 100vh;
	width: 100%;
	opacity: 0;
	overflow: hidden;
}
* {
	outline: none;
	transition-duration: .2s;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background-color: var(--background); 
}
::-webkit-scrollbar-thumb {
	background: rgb(185, 185, 185); 
	border-radius: 10px;
	transition-duration: .2s;
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(202, 202, 202);
}
::selection {
	background-color: rgba(0, 0, 128, 0.6);
	color: snow;
	border-radius: 5px;
	backdrop-filter: blur(20px);
}
.hide {
	display: none;
}
button {
	background-color: var(--background);
	color: var(--color);
	border: 1px solid var(--color);
	border-radius: 20px;
	opacity: .8;
	font-size: inherit;
	padding: 5px;
	cursor: pointer;
}
button[disabled] {
	opacity: .7 !important;
	box-shadow: none !important;
	background-color: var(--background) !important;
	color: var(--color) !important;
	cursor: not-allowed;
}
button:hover, button:focus {
	opacity: 1;
	box-shadow: 3px 3px rgb(26, 26, 26);
}
button:active {
	border: 1px solid var(--accent) !important;
	background-color: var(--color);
	color: var(--background);
}
input[type="text"] {
	border: none;
	border-bottom: 2px solid var(--accent);
	background-color: var(--background);
	color: var(--color);
	font-size: large;
	height: 20px;
	padding: 10px;
	margin: 10px;
	font-family: inherit;
}
input[type="text"]:focus, select:focus {
	border: 2px solid var(--accent) !important;
	box-shadow: 3px 3px rgb(26, 26, 26);
	border-radius: 5px;
}

#topbar {
	padding: 10px;
	background-color: var(--background);
	filter: drop-shadow(0px 0px 3px black);
	height: 30px;
	user-select: none;
}
#beta {
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	color: white;
	background: springgreen;
	border-radius: 10px;
	padding: 5px;
	margin-left: 10px;
	transform: translate(0, -20px);
}
#left-toolbar {
	position: fixed;
	display: inline-block;
	height: 50px;
	padding-right: 10px;
	left:0;
	top:0;
}
#cur-note {
	font-size: 20px;
	padding: 5px;
	color: var(--color);
	transform: translate(0, -5px);
}
#right-toolbar {
	font-size: 30px;
	font-weight: bold;
	color: var(--color);
	margin-left: 10px;
	transform: translate(0, -15px);
	float: right;
	font-size: 40px;
}

#editor-box {
	background: var(--background);
	position: absolute;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	filter: drop-shadow(0px 25px 20px black);
	right: 0;
	top: 50px;
	width: 65%;
	height: calc(100% - 120px);
	z-index: 20;
	overflow: hidden;
}
#editor {
	height: calc(100% - 50px);
	overflow-y: auto;
	font-family: inherit;
	border: 1px solid rgba(43, 43, 43, 0.216) !important;
	border-radius: 5px;
}
#editor strong {
	font-weight: 900;
}
.ql-snow {
	border: none !important;
}

#tree {
	width: 25%;
	height: calc(100% - 120px);
	padding: 35px;
}
#tree > button {
	font-size: 15px;
}
#book-select {
	font: inherit;
	font-size: small;
	padding: 5px;
	border: 1px solid rgb(117, 117, 117);
	height: 30px;
	width: calc(100% - 75px);
	background: var(--background);
	color: var(--color);
	cursor: pointer;
}
#book-name {
	width: calc(100% - 30px);
	margin: 0;
	margin-top: 5px;
}
#tree-view > li {
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: var(--background);
	color: var(--color);
	font-size: inherit;
	cursor: pointer;
	list-style: none;
	transform: translate(-40px, 0);
	border: 1px solid var(--accent);
	overflow-x: hidden;
}
#tree-view > li:hover {
	background-color: var(--accent);
	color: var(--background);
	box-shadow: 5px 5px rgb(26, 26, 26);
}
#tree-view > li:active {
	background-color: var(--color);
	color: var(--background);
}

.selected-page {
	border: 3px solid var(--accent) !important;
}
#menu-btn {
	display: none;
}
#menu-btn:hover {
	box-shadow: none;
	color: var(--background);	
}
#panel {
	height: auto;
	position: absolute;
	left: 20px;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--background);
	filter: drop-shadow(0 0 10px black);
	user-select: none;
}
#panel:hover {
	box-shadow: 4px 4px rgb(26, 26, 26);
}
@media screen and (min-width: 751px) {
	#tree-view {
		margin-top: 10px;
	}
	#panel {
		width: calc(25% - 10px);
		bottom: 30px;
	}
}
@media screen and (max-width: 750px) {
	#topbar {
		height: 80px;
	}
	#right-toolbar {
		transform: translate(-15px, 35px);
	}
	#cur-note {
		font-size: medium;
		padding: 5px;
		width: calc(100% - 220px);
	}
	#editor-box {
		width: calc(100% - 55px);
		height: calc(100% - 140px);
		margin-bottom: 0;
		right: 0;
		top: 90px;
	}
	#menu-btn {
		color: var(--background) !important;
		display: inline-block;
		position: fixed;
		top: 3px;
		right: 3px;
		width: 50px;
		height: 50px;
		background-color: var(--accent);
		border-radius: 0;
		border-radius: 10px;
		cursor: pointer;
		z-index: 100;
		opacity: .9;
	}
	.move-side {
		transform: translate(90vw, 0);
	}
	#tree {
		width: 80%;
	}
	#tree-view {
		margin-top: 20px;
	}
	#panel {
		width: calc(80% - 10px);
		bottom: 10px;
	}
}

#signin-google {
	background-color: cornflowerblue;
	color: white;
}
#signin-github {
	background-color: black;
	color: white;
}
#signout-btn {
	background-color: crimson;
}
.auth-btn {
	padding: 10px;
	border-radius: 5px;
	font-size: large;
	margin: 5px;
}
#user-photo > img {
	height: 5ch;
	border-radius: 50%;
}
#user-name {
	font-size: 5ch;
	font-weight: bold;
	color: var(--color);
	margin: 20px;
}