@import url('./modal.css');
@import url('../../global.css');
#topbar {
	padding: 10px;
	background-color: var(--background);
	border-bottom: 2px solid rgba(40,40,50,0.1) !important;
	height: 30px;
	user-select: none;
}
#left-toolbar {
	position: fixed;
	display: inline-block;
	height: 50px;
	padding-right: 10px;
	left:0;
	top:0;
}
#cur-page {
	font-size: 20px;
	padding: 5px;
	color: var(--color);
	transform: translateY(-5px);
}
#right-toolbar {
	font-size: 30px !important;
	font-weight: bold;
	color: var(--color);
	margin-left: 10px;
	transform: translate(0, -15px);
	float: right;
	font-size: 40px;
	height: 55px;
	padding: 10px;
}

#editor-box {
	position: fixed;
	background: var(--background);
	padding: 0;
	right: 0;
	top: 52px;
	width: 65%;
	height: calc(100% - 70px);
	z-index: 20;
	overflow: hidden;
}
#editor {
	height: calc(100% - 40px);
	overflow-y: auto;
	font-family: inherit;
	border: 2px solid rgba(40,40,50,0.1) !important;
}
.ql-snow {
	border: none !important;
}
.ql-tooltip {
	z-index: 20;
}
.ql-toolbar {
	background-color: rgba(40,40,50,0.1) !important;
}

#tree {
	width: 30%;
	height: calc(100% - 120px);
	padding: 35px;
}
#tree > button {
	font-size: 25px;
}
#book-select {
	font: inherit;
	font-size: medium;
	padding: 5px;
	border: 1px solid rgb(117, 117, 117);
	height: 40px;
	width: calc(100% - 130px);
	background: var(--background);
	color: var(--color);
	cursor: pointer;
	border-radius: 5px;
	transform: translateY(-5px);
}
#tree-view {
	overflow-y: auto;
}
#tree-view > li {
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: var(--background);
	color: var(--color);
	font-size: inherit;
	cursor: pointer;
	list-style: none;
	transform: translate(-40px, 0);
	border: 1px solid var(--accent);
	overflow-x: hidden;
	width: calc(100% - 40px);
}
#tree-view > li[contenteditable="true"] {
	cursor:text ;
	border: 1px solid var(--accent) !important;
	border-bottom: solid 5px var(--accent) !important;
}
#tree-view > li:hover {
	background-color: var(--accent);
	color: var(--background);
	box-shadow: 5px 5px rgb(26, 26, 26);
}
#tree-view > li[contenteditable="true"]:hover {
	background-color: var(--background) !important;
	color: var(--color) !important;
	box-shadow: none !important;
}
#tree-view > li:active {
	background-color: var(--color);
	color: var(--background);
}

.selected-page {
	border: 3px solid var(--accent) !important;
}
#menu-btn {
	display: none;
	border: none;
	transition-duration: .5s;
}
#menu-btn:hover {
	box-shadow: none;
	color: var(--background);
	transform: rotate(90deg);
}
#menu-btn:active {
	transform: rotate(180deg);
}
#panel {
	height: 36px;
	position: absolute;
	left: 20px;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--background);
	user-select: none;
	overflow-y: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 10px;
	column-gap: 5px;
}
#rename-page-btn {
	position: fixed;
	left: 0;
	font-size: x-large !important;
}
#del-page-btn {
	position: fixed;
	left: 0;
	font-size: x-large !important;
}
#add-page-btn {
	width: calc(100% - 20px);
	margin: 10px;
}
@media screen and (min-width: 921px) {
	#tree-view {
		margin-top: 10px;
		height: calc(100% - 220px);
	}
	#panel {
		width: calc(30% - 10px);
		height: 36px;
		bottom: 30px;
		border: 2px solid rgba(40,40,50,0.1);
	}
	#panel > button {
		font-size: 20px;
	}
}
@media screen and (max-width: 920px) {
	#topbar {
		height: 80px;
	}
	#right-toolbar {
		transform: translate(10px, 40px);
		width: 100%;
		text-align: right;
	}
	#cur-page {
		font-size: medium;
		padding: 5px;
		width: calc(100% - 205px);
		max-width: 300px;
	}
	#editor-box {
		position: absolute;
		margin-top: 15px;
		padding: 10px;
		border-radius: 0;
		width: 100%;
		height: calc(100% - 107px);
		margin-bottom: 0;
		right: 0;
		top: 90px;
		filter: drop-shadow(0px 25px 20px black);
		padding: 0;
	}
	#editor {
		height: calc(100% - 55px);
	}
	#menu-btn {
		color: var(--background) !important;
		display: inline-block;
		position: fixed;
		top: 3px;
		right: 3px;
		width: 50px;
		height: 50px;
		background-color: var(--accent);
		border-radius: 0;
		border-radius: 10px;
		cursor: pointer;
		z-index: 100;
		opacity: .9;
	}
	.move-side {
		transform: translate(90vw, 0);
		margin-top: 20px !important;
		height: calc(100% - 130px) !important;
		border-radius: 20px !important;
	}
	#tree {
		width: 75%;
	}
	#tree-view {
		margin-top: 20px;
		height: calc(100% - 290px);
	}
	#panel {
		width: calc(80% - 10px);
		height: 72px;
		bottom: 10px;
		filter: drop-shadow(0 0 10px black);
	}
	#panel > button {
		font-size: 30px;
	}
}

#signin-google {
	background-color: cornflowerblue;
	color: white;
	font-size: xx-large;
}
#signin-github {
	background-color: black;
	color: white;
	font-size: xx-large;
}
#signout-btn {
	background-color: crimson;
}
.auth-btn {
	padding: 10px;
	border-radius: 5px;
	font-size: large;
	margin: 5px;
}
#user-photo > img {
	height: 5ch;
	border-radius: 50%;
}
#user-name {
	font-size: 5ch;
	font-weight: bold;
	color: var(--color);
	margin: 20px;
}
#email-email, #email-password{
	border: none;
	border-bottom: 2px solid var(--accent);
	background-color: var(--background) !important;
	color: var(--color) !important;
	font-size: large;
	height: 20px;
	max-width: 75%;
	width: 300px;
	padding: 10px;
	margin: 10px;
	font-family: inherit;
}
#email-email:focus, #email-password:focus {
	border: 2px solid var(--accent) !important;
	box-shadow: 3px 3px rgb(26, 26, 26);
	border-radius: 5px;
}
#password-vis {
	font-size: 20px;
	transform: translateY(10px);
	width: 100px;
}
.active-theme {
	border: cornflowerblue 2px solid;
}
.vex-content {
	background-color: var(--background) !important;
	color: var(--color) !important;
}
.vex-overlay {
	background: rgba(0, 0, 0, 0.8) !important;
	backdrop-filter: blur(2.5px);
}