@import url('../../global.css');
#app-icon {
	height: 50px;
	width: 50px;
	display: inline-block;
	background: url('../../img/paperclip.png');
	background-size: contain;
	background-repeat: no-repeat;
	transform: translate(-75px,0);
}
#title {
	font-size: xx-large;
	height: 50px;
	display: block;
	transform: translate(0, -55px);
}
body {
	height: 100vh;
	overflow: hidden;
	text-align: center;

	margin: 4px auto;
	padding: 0 1px;
	max-width: 60ch;
	margin-top: 30px;
}
button {
	opacity: .8;
	font-size: xx-large;
	padding: 10px;
	border-radius: 50px;
	cursor: pointer;
	margin: 10px;
}
#google {
	background-color: cornflowerblue;
	color: white;
}
#github {
	background-color: black;
	color: white;
}
#copy {
	background-color: springgreen;
	color: white;
}
#datas {
	display: none;
}
input {
	width: 100%;
	background-color: transparent;
	font-size: xx-large;
	border: 5px solid black;
	padding: 10px;
	border-radius: 10px;
	color: inherit;
}