@import url('../../global.css');
#app-icon {
	height: 50px;
	width: 50px;
	display: inline-block;
	background: url('../../img/paperclip.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#name {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: xx-large;
	height: 50px;
}
body {
	background-color: var(--background);
	color: var(--color);
	height: 100vh;
	overflow: hidden;
}
.ql-toolbar.ql-snow {
	display: none !important;
}
.ql-container.ql-snow {
	border: none !important;
	height: calc(100% - 75px);
}
.ql-editor {
	border: 1px solid var(--accent);
	border-radius: 10px;
}